* {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

/************************************************** banner section ***********************************/
header {
	width: 100%;
	height: 808px;
	background: url("./images/banner/banner1.png");
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 2px solid red; */
	position: relative;
}

.banner {
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	left: 845px;
}

.banner-title {
	width: 525px;
	height: 228px;
	font-size: 65px;
	font-weight: 700;
	line-height: 76px;
	text-align: right;
	/* border: 2px solid gray; */
}

.banner-description {
	width: 494px;
	height: 78px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: right;
	color: #444343;
	margin-top: 24px;
	/* border: 2px solid gray; */
}

.contact-btn {
	margin-top: 32px;
	width: 160px;
	height: 64px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	background: #f15b22;
	/* border: 2px solid gray; */
}

/********************************************* failure section ***********************************/
.failure {
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 130px;
	/* border: 2px solid red; */
}

.failure-div {
	height: 400px;
	width: 416px;
	/* border: 2px solid green; */
}

.failure-img {
	width: 570px;
	height: 725px;
	margin-right: 87px;
	/* border: 2px solid indigo; */
}
.failure-title {
	width: 288px;
	height: 94px;

	font-weight: 700;
	font-size: 40px;
	line-height: 47px;

	color: #151414;
	margin-bottom: 24px;
	/* border: 2px solid gray; */
}

.failure-description {
	margin-top: 24px;
	width: 416px;
	height: 104px;

	font-weight: 400;
	font-size: 16px;
	line-height: 26px;

	color: #444343;
	margin-bottom: 16px;
	/* border: 2px solid gray; */
}

.failure-list {
	margin-top: 16px;
	width: 349px;
	height: 162px;
	/* border: 2px solid gray; */
}
.failure-list ul {
	list-style: none;
	/* border: 2px solid rgb(33, 218, 33); */
}
.failure-list ul li {
	width: max-content;
	margin-bottom: 8px;
	margin-left: -45px;
	/* border: 2px solid rgb(110, 106, 106); */
}

.list-icon {
	color: #16d887;
}

/************************************************ planning section *********************************/
.planning {
	width: 80%;
	height: 300px;
	margin: 100px auto;
	/* border: 2px solid red; */
}

.plan-title {
	width: 100%;
	height: 47px;
	font-weight: 700;
	font-size: 40px;
	color: #151414;
	margin-bottom: 60px;
	text-align: center;
	/* border: 2px solid rgb(128, 128, 128); */
}
.plan-skills {
	display: flex;
	justify-content: space-between;
	text-align: center;
	/* border: 2px solid rebeccapurple; */
}

.plan-item {
	height: 200px;
	width: 20%;
	/* border: 2px solid gray; */
}
.plan-item img {
	margin-bottom: 25px;
	/* border: 2px solid green; */
}

.plan-item-title {
	font-weight: 700;
	font-size: 25px;
	color: #151414;
	margin-bottom: 16px;
	/* border: 2px solid rgb(128, 62, 0); */
}

.plan-item-description {
	font-weight: 500;
	font-size: 20px;
	color: #737272;
	/* border: 2px solid rgb(197, 210, 197); */
}

/**************************************************** contact-section ***************************/
.contact-section {
	height: 300px;
	width: 80%;
	border-radius: 10px;
	margin: 130px auto;
	position: relative;

	/* background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%); */
	/* background-repeat: no-repeat;
	background-size: cover; */
	/* border: 2px solid red; */
}

.contact-section-div img {
	width: 100%;
	height: 300px;
	/* border: 2px solid green; */
}

.gradient-img {
	position: absolute;
	height: 300px;
	width: 80%;
	border-radius: 10px;
	top: 0;
	left: 0;
}

.contact-section-title {
	width: 459px;
	height: 94px;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #ffffff;
	margin-bottom: 24px;
	position: absolute;
	left: 64px;
	top: 60px;
}
.call-now-button {
	width: 160px;
	height: 64px;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: #f15b22;
	border: none;
	border-radius: 5px;
	position: absolute;
	left: 64px;
	top: 177px;
}

/**************************************************** footer-section ***************************/
footer {
	height: 580px;
	width: 100%;
	background: #151414;
	/* border: 2px solid red; */
}

.footer-content {
	width: 80%;
	margin: 0 auto;
	padding-top: 130px;
	display: flex;
	justify-content: space-between;
	/* border: 2px solid rgb(200, 218, 203); */
}
.future {
	width: 485px;
	height: 317px;
	/* border: 2px solid rgb(218, 200, 214); */
}
.future-title {
	width: 148px;
	height: 53px;
	font-weight: 700;
	font-size: 45px;
	color: #f8f8f8;
	margin-bottom: 16px;
}
.future-description {
	width: 485px;
	height: 78px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	margin-bottom: 24px;
}
.future-info {
	width: 184px;
	height: 26px;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 16px;
}

.social-icon {
	margin-top: 32px;
	width: 175px;
	height: 46px;
	/* border: 2px solid red; */
}
.social-icon ul {
	list-style: none;
	display: flex;
	gap: 17px;
	margin-left: -45px;
	/* border: 2px solid rgb(0, 255, 26); */
}

.subscribe {
	width: 325px;
	height: 204px;
}
.subscribe-title {
	font-weight: 600;
	font-size: 25px;
	color: #ffffff;
	margin-bottom: 31px;
}
.subscribe input {
	width: 325px;
	height: 64px;
	background: #151414;
	color: #f3f3f3;
	border-radius: 8px;
	border: 1px solid #ffffff;
	margin-bottom: 16px;
}
.subscribe input::placeholder {
	font-weight: 400;
	font-size: 18px;
	color: #f3f3f3;
	padding-left: 21px;
}
.subscribe-btn {
	width: 170px;
	height: 64px;
	font-weight: 600;
	font-size: 20px;
	color: #f15b22;
	border-radius: 8px;
}
