* {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

/************************************************** banner section ***********************************/
header {
	width: 100%;
	height: 808px;
	background: url("./images/banner/banner1.png");
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 2px solid red; */
	position: relative;
}

.banner {
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	left: 845px;
}

.banner-title {
	width: 525px;
	height: 228px;
	font-size: 65px;
	font-weight: 700;
	line-height: 76px;
	text-align: right;
	/* border: 2px solid gray; */
}

.banner-description {
	width: 494px;
	height: 78px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: right;
	color: #444343;
	margin-top: 24px;
	/* border: 2px solid gray; */
}

.contact-btn {
	margin-top: 32px;
	width: 160px;
	height: 64px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	background: #f15b22;
	/* border: 2px solid gray; */
}

/********************************************* failure section ***********************************/
.failure {
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 130px;
	/* border: 2px solid red; */
}

.failure-div {
	height: 400px;
	width: 416px;
	/* border: 2px solid green; */
}

.failure-img {
	width: 570px;
	height: 725px;
	margin-right: 87px;
	/* border: 2px solid indigo; */
}
.failure-title {
	width: 288px;
	height: 94px;

	font-weight: 700;
	font-size: 40px;
	line-height: 47px;

	color: #151414;
	margin-bottom: 24px;
	/* border: 2px solid gray; */
}

.failure-description {
	margin-top: 24px;
	width: 416px;
	height: 104px;

	font-weight: 400;
	font-size: 16px;
	line-height: 26px;

	color: #444343;
	margin-bottom: 16px;
	/* border: 2px solid gray; */
}

.failure-list {
	margin-top: 16px;
	width: 349px;
	height: 162px;
	/* border: 2px solid gray; */
}
.failure-list ul {
	list-style: none;
	/* border: 2px solid rgb(33, 218, 33); */
}
.failure-list ul li {
	width: max-content;
	margin-bottom: 8px;
	margin-left: -45px;
	/* border: 2px solid rgb(110, 106, 106); */
}

.list-icon {
	color: #16d887;
}
